* { margin: 0; padding: 0; }

ul { list-style: none; }

.audio_list li { display: -webkit-box; display: -ms-flexbox; display: flex; }

.audio_list li .btn { cursor: pointer; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; width: 30px; height: 30px; margin-left: 10px; border: none; background-color: transparent; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.audio_list li .btn::before { content: ''; width: 0; height: 0; border-left: 14px solid #333; border-top: 9px solid transparent; border-bottom: 9px solid transparent; }

.audio_list li .btn .equalizer_set { display: none; font-size: 0; height: 15px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.audio_list li .btn .equalizer_set .equalizer_bar { margin: 0 1px; width: 4px; height: 1px; background-color: green; }

.audio_list li .btn .equalizer_set .equalizer_bar.bar1 { -webkit-animation: eqbar .4s ease infinite; animation: eqbar .4s ease infinite; -webkit-animation-direction: alternate; animation-direction: alternate; -webkit-animation-delay: 0s; animation-delay: 0s; }

.audio_list li .btn .equalizer_set .equalizer_bar.bar2 { -webkit-animation: eqbar 1s ease infinite; animation: eqbar 1s ease infinite; -webkit-animation-direction: alternate; animation-direction: alternate; -webkit-animation-delay: .5s; animation-delay: .5s; }

.audio_list li .btn .equalizer_set .equalizer_bar.bar3 { -webkit-animation: eqbar .8s ease infinite; animation: eqbar .8s ease infinite; -webkit-animation-direction: alternate; animation-direction: alternate; -webkit-animation-delay: .1s; animation-delay: .1s; }

.audio_list li .btn .equalizer_set .equalizer_bar.bar4 { -webkit-animation: eqbar .5s ease infinite; animation: eqbar .5s ease infinite; -webkit-animation-direction: alternate; animation-direction: alternate; -webkit-animation-delay: .3s; animation-delay: .3s; }

.audio_list li .btn.on::before { display: none; }

.audio_list li .btn.on .equalizer_set { display: -webkit-box; display: -ms-flexbox; display: flex; }

@-webkit-keyframes eqbar { 0% { height: 0; }
  100% { height: 100%; } }

@keyframes eqbar { 0% { height: 0; }
  100% { height: 100%; } }

.audio_item { font-size: 16px; line-height: 30px; }

.audio_item + .audio_item { margin-top: 20px; }

.audio_item.on { font-weight: bold; color: #f00; }

#wrap { padding: 40px; }

.desc { padding: 50px; }

.player_box { padding: 50px 0; }

.control_box { margin-top: 10px; }

#myaudio { width: 100%; }

.audio-player { display: inline-block; vertical-align: top; background: #222; color: white; font-size: 0.75em; overflow: hidden; }

.audio-player .timeline { background: #e5e5e5; width: 100%; height: 10px; position: relative; cursor: pointer; }

.audio-player .timeline .progress { background: #f00; width: 0%; height: 100%; }

.audio-player .controls { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 20px; }

.audio-player .controls > * { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-width: 0; }

.audio-player .controls .toggle-play.play { cursor: pointer; position: relative; left: 0; height: 0; width: 0; border: 7px solid #0000; border-left: 13px solid white; }

.audio-player .controls .toggle-play.play:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.audio-player .controls .toggle-play.pause { height: 15px; width: 20px; cursor: pointer; position: relative; }

.audio-player .controls .toggle-play.pause:before { position: absolute; top: 0; left: 0px; background: white; content: ""; height: 15px; width: 3px; }

.audio-player .controls .toggle-play.pause:after { position: absolute; top: 0; right: 8px; background: white; content: ""; height: 15px; width: 3px; }

.audio-player .controls .toggle-play.pause:hover { -webkit-transform: scale(1.1); transform: scale(1.1); }

.audio-player .controls .time { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 10px; }

.audio-player .controls .time > * { padding: 2px; }

.audio-player .controls .volume-container { cursor: pointer; position: relative; z-index: 2; }

.audio-player .controls .volume-container .volume-button { height: 26px; width: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.audio-player .controls .volume-container .volume-button .volume { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.audio-player .controls .volume-container .volume-slider { left: -3px; top: 15px; z-index: -1; width: 100px; height: 12px; background: white; -webkit-box-shadow: 0 0 20px #000a; box-shadow: 0 0 20px #000a; -webkit-transition: .25s; transition: .25s; }

.audio-player .controls .volume-container .volume-slider .volume-percentage { background: goldenrod; height: 100%; width: 75%; }

.audio-player .name { display: block; width: 100%; padding: 15px 30px 0; -webkit-box-sizing: border-box; box-sizing: border-box; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.audio-player .name marquee { display: block; }

.audio-player .name .marquee_inner { display: block; }
